body {
    --color-text: #283d3b;
    --color-background: #faf9f9;
    --color-primary: #c44536;
    --color-secondary: #772e25;
    --color-gray300: hsl(0deg, 0%, 70%);
    --color-gray500: hsl(0deg, 0%, 50%);
    --color-gray700: hsl(0deg, 0%, 30%);
  }
  
  body.dark {
    --color-text: #faf9f9;
    --color-background: #22223b;
    --color-primary: #bee3db;
    --color-secondary: #9a8c98;
    --color-gray300: hsl(0deg, 0%, 30%);
    --color-gray500: hsl(0deg, 0%, 50%);
    --color-gray700: hsl(0deg, 0%, 70%);
  }